.avatar-profesional {
  border-radius: 50%; /* Para que la imagen sea circular */
  border: 2px solid #3ba5a8;
  margin: 10px;
  object-fit: cover; /* Asegura que la imagen ocupe todo el contenedor sin distorsión */
}

.dz-select-btn2 {
  display: flex;
  flex-wrap: wrap; /* Permite que las imágenes pasen a la siguiente línea si no hay espacio */
  gap: 10px; /* Espacio entre las imágenes */
  justify-content: center; /* Centra las imágenes horizontalmente */
  align-items: center; /* Centra las imágenes verticalmente */
}

.media {
  display: flex;
  flex-direction: column; /* Coloca la imagen y el nombre en columna */
  justify-content: center;
  align-items: center;
}

.media img {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto; /* Mantiene la relación de aspecto en cualquier contenedor */
  border-radius: 50%; /* Hace que la imagen sea circular */
  object-fit: cover; /* Asegura que la imagen ocupe todo el contenedor sin distorsionarse */
}

.uppercase {
  text-transform: uppercase;
}

.r-rating {
  font-size: 25px;
}
/* Estilo original */
.service-card {
  display: flex;
  flex-direction: row; /* Organización en una fila en pantallas grandes */
  justify-content: space-between;
  align-items: center;
  /* min-width: 200px; Ajusta según necesites */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

/* Cambios en el diseño en pantallas pequeñas */
@media (max-width: 768px) {
  .service-card {
    flex-direction: column; /* Coloca el nombre y el precio en columna en móviles */
    align-items: flex-start; /* Alinea el texto al inicio en móviles */
  }
}
.service-card-hover {
  color: white !important;
  background-color: #3ba5a8 !important;
  transform: translateY(-2px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.service-card-hover .service-price {
  color: white !important;
  background-color: #3ba5a8 !important;
  transform: translateY(-2px);
}


.service-card:hover {
  color: white !important;
  background-color: #3ba5a8 !important;
  transform: translateY(-2px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

/* Cambia el color del precio a blanco cuando se hace hover en la tarjeta */
.service-card:hover .service-price {
  color: white;
}

.service-name {
  font-weight: 500;
}

.service-price {
  color: #3ba5a8;
  font-weight: 900;
  font-size: 20px;
  transition: color 0.3s ease; /* Transición suave en el cambio de color */
}

.day {
  padding: 8px;
  margin: 2px;
  border-radius: 4px;
  opacity: 0.5;
}

.day.active {
  opacity: 1;
  background-color: #3ba5a8 !important;
  color: white;
}
.btn.btn-active{
  background-color: #3ba5a8 !important;
  color: white;
}