<div class="title-bar " style="justify-content: flex-start !important;">
    <button *ngIf="global.memberOption!='' && isMobile()" (click)="global.resetTutorOption()" class="btn btn-light"
        style="margin-right: 10px;">
        <i class="icon feather icon-chevron-left"></i> <!-- Botón de retroceso -->
    </button>
    <h3 class="name mb-0" style="padding-left: 20px;" *ngIf="auth.getCurrentUser().full_name"><span
            class="greetings">Hola,</span> {{auth.getCurrentUser().full_name}}.</h3>
</div>
<div class="content-box">
    <div class="card">
    <div class="card-body">
        <div class="alert alert-info alert-dismissible fade show">
            <svg viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="2" fill="none"
                stroke-linecap="round" stroke-linejoin="round" class="me-2">
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="12" y1="16" x2="12" y2="12"></line>
                <line x1="12" y1="8" x2="12.01" y2="8"></line>
            </svg>
            <span class="personalizedAlerts">
                Su registro ha sido <strong>exitoso</strong>, ingrese la siguiente información para completar la activación
                de su cuenta
    
            </span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
                <span><i class="icon feather icon-x"></i></span>
            </button>
        </div>
        <main class="page-content  p-b80">
            <div class="container">
                <div class="edit-profile">
                    <div class="profile-image">
                        <div class="avatar-upload">
                            <div class="avatar-preview">
                                <div id="imagePreview"
                                    style="background-image: url(https://static.vecteezy.com/system/resources/previews/026/966/960/non_2x/default-avatar-profile-icon-of-social-media-user-vector.jpg);">
                                </div>
                                <div class="change-btn">
                                    <input type='file' class="form-control d-none" id="imageUpload"
                                        accept=".png, .jpg, .jpeg">
                                    <label for="imageUpload">
                                        <i class="fi fi-rr-pencil"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="name">Nombre completo</label>
                        <div class="mb-2 input-group input-group-icon">
                            <span class="input-group-text">
                                <div class="input-icon">
                                    <i class="icon feather icon-user"></i>
                                    
                                </div>
                            </span>
                            <input type="text" class="form-control" placeholder="Nombre completo">								
                        </div>
                    </div>
                  
                    <div class="mb-3">
                        <label class="form-label" for="name">RUT</label>
                        <div class="mb-2 input-group input-group-icon">
                            <span class="input-group-text">
                                <div class="input-icon">
                                    <i class="fi fi-rr-credit-card font-20"></i>
                                    
                                </div>
                            </span>
                            <input type="text" class="form-control" placeholder="RUT">								
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="name">Telefono</label>
                        <div class="mb-2 input-group input-group-icon">
                            <span class="input-group-text">
                                <div class="input-icon">
                                    <i class="fi fi-rr-circle-phone-flip font-20"></i>
                                    
                                </div>
                            </span>
                            <input type="number" class="form-control" autocomplete="off" required="" placeholder="+91">								
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="name">Dirección</label>
                        <div class="mb-2 input-group input-group-icon">
                            <span class="input-group-text">
                                <div class="input-icon">
                                    <i class="fi fi-rr-marker font-20"></i>
                                    
                                </div>
                            </span>
                            <input type="text" class="form-control" autocomplete="off" required="" placeholder="Dirección">								

                        </div>
                    </div>
                   
                   
                </div>
            </div>
        </main>
    </div>
</div>
</div>