<div class="title-bar">
    <h4 class="title mb-0 font-w500 capitalize-first">Servicios activos</h4>
    <i class="fi fi-rr-pencil"></i>
</div>
<div class="content-box">
<ul class="row g-2">
      <!-- <ul class="row g-2">
                <div class="row" *ngFor="let category of realtimeCategories.categories$ | async">
                    <span style="font-size: 15px; color: grey;">
                    <br/>
                    </span>
                        <li *ngFor="let service of realtimeServices.services$ | async" class="col-4" [hidden]="category.id != service.idCategory">
                            <a>{{ service.name }}</a>
                        </li>
                </div>
            </ul> -->
    <li *ngFor="let service of realtimeServices.services$ | async" class="col-4 " style="cursor: pointer">
        <a class="specialist-card ">{{ service.name }}</a>
    </li>
</ul>
</div>