<div class="title-bar " style="justify-content: flex-start !important;">
    <button *ngIf="global.memberOption!='' && isMobile()" (click)="global.resetMemberOption()" class="btn btn-light"
    style="margin-right: 10px;">
    <i class="icon feather icon-chevron-left"></i> <!-- Botón de retroceso -->
</button>
    <h3 class="name mb-0" style="padding-left: 20px;" *ngIf="auth.getCurrentUser().full_name"><span
        class="greetings">Hola,</span> {{auth.getCurrentUser().full_name}}.</h3>
</div>
<div class="content-box">
    <div class="alert alert-info alert-dismissible fade show" >
        <svg viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="2" fill="none"
            stroke-linecap="round" stroke-linejoin="round" class="me-2">
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="12" y1="16" x2="12" y2="12"></line>
            <line x1="12" y1="8" x2="12.01" y2="8"></line>
        </svg>
       <span class="personalizedAlerts">
           Su registro ha sido <strong>exitoso</strong>, ingrese la siguiente información para completar la activación de su cuenta

       </span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
            <span><i class="icon feather icon-x"></i></span>
        </button>
    </div>
    </div>