<div class="title-bar">
    <button *ngIf="global.adminOptionn!='' && isMobile()"  (click)="global.resetAdminOption()" class="btn btn-secondary" style="margin-right: 10px;">
        <i class="fi fi-rr-arrow-left"></i> <!-- Botón de retroceso -->
    </button>
    <h4 class="title mb-0 font-w500 capitalize-first">Categorías </h4>
    <i (click)="global.setFormOption('category')" class="fi fi-rr-add" style="font-size: 40px !important; border-radius: 50%; cursor: pointer; color: #3ba5a8;  transition: all 0.3s;" 
       data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom9" aria-controls="offcanvasBottom9"
       onmouseover="this.style.color='black'; this.style.transform='scale(1.2)'; this.style.boxShadow='0 4px 8px rgba(0,0,0,0.2)'; "
       onmouseout="this.style.color='#3ba5a8'; this.style.transform='scale(1)'; this.style.boxShadow='none';"></i>

</div>

<div class="content-box" *ngIf="realtimeCategories.categories$">
    <div class="row ">
        
        <span class="card col-6 col-lg-4 position-relative" style="padding: 10px;" *ngFor="let category of realtimeCategories.categories$ | async">
            <div [hidden]="!updating || updatingCategoryId !== category.id"> <!-- Cambiado para aplicar solo al elemento que se está actualizando -->
                <p class="card-text placeholder-glow">
                    <span class="placeholder col-8"></span>
                
                   
                </p>
                <p class="card-text placeholder-glow">
                    <span class="placeholder col-3"></span>
                
                   
                </p>
            </div>
            <div [hidden]="updating && updatingCategoryId === category.id"> <!-- Cambiado para aplicar solo al elemento que se está actualizando -->
            <button class="btn btn-xs btn-danger delete-button position-absolute"  (click)="deleteCategory(category.id)" style="top: 10px; right: 10px; ">
                <i class="fi fi-rr-trash"></i> <!-- Botón de eliminar -->
            </button>
            <a>{{ category.name }}</a>
            <div class="form-check form-switch">
                <input class="form-check-input form-check-success"  type="checkbox" [checked]="category?.carousel" (change)="updateCarouselValue(category.id, !category?.carousel)">
                <label class="form-check-label">Visible en el carousel</label>
            </div>
        </div>
           
        </span>
    </div>
</div>

<div class="content-box" *ngIf="realtimeCategories.categories$ && (realtimeCategories.categories$ | async)?.length === 0">
    <ul class="row g-2">
        <h2>No hay categorías que mostrar.</h2> <!-- Mensaje cuando no hay categorías -->
    </ul>
</div>
